.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-upper {
  background-image: url(https://assets.codepen.io/6060109/agency-hero-image.png);
  background-size: cover;
  height: 300px;
  position: relative;
  color: white;
}

.upper-sections {
  display:inline-flex;
  padding: 30px;
}

.main-middle {
  background-color: white;
}

.middle-sections {
  display: inline-flex;
  color: #806c6c;
}

.middle-title {
  color: #133588;
}

.main-lower {
  background-color: #133588;
  color: white;
}

.subscribe-to-us {
  padding: 10px;
}

#email-input {
  border: none;
  background: none;
  border-bottom: 1px solid white;
  width: 30%;
  margin: 20px auto;
  text-align: center;
  color: rgba(255,255,255,.5);
}

#submit-button {
  margin: 10px;
}